<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<main>
		<% if (products.length) { %>
		<ul class="cart__item-list">
			<% products.forEach(productData => { %>
			<li class="cart__item">
				<h1><%= productData.title %></h1>
				<h2>Quantity: <%= productData.quantity %></h2>

				<form action="/cart-delete-item" method="POST">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<input type="hidden" name="cartItemId" value="<%= productData.id %>">
					<button class="btn danger" type="submit">Delete</button>
				</form>
			</li>
			<% }) %>
		</ul>
		<hr>
		<div class="centered">
			<form action="/create-order" method="POST">
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button type="submit" class="btn">Order Now!</button>
			</form>
		</div>
		<% } else { %>
		<h1>No Products in Cart!</h1>
		<% } %>
	</main>
	<%- include('../includes/end.ejs') %>