<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
	<%- include("../includes/navigation.ejs") %>
	<main>
		<ul class="cart__item-list">
			<% products.forEach(productData => { %>
			<li class="cart__item">
				<h1><%= productData.title %></h1>
				<h2>Quantity: <%= productData.quantity %></h2>
			</li>
			<% }) %>
		</ul>
		<div class="centered">
			<h2>Total: <%= totalSum %></h2>
		</div>

		<div class="centered">
			<button id="order-btn" class="btn">ORDER</button>
		</div>
		<script>
			const stripe = Stripe('<%= stripePublicKey %> ');
			const orderButton = document.querySelector("#order-btn");

			orderButon.addEventListener('click', () => {
				stripe.redirectToCheckout({
					sessionId: "<%= sessionId %>"
				})
			})
		</script>
	</main>
	<%- include("../includes/end.ejs") %>