<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<% if (errorMessage) { %>
		<div class="user-message user-message--error"><%= errorMessage %> </div>
		<% } %>
		<form class="product-form" action="/admin/<% if (editing || hasErrors) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<div class="form-control">
				<label for="title">Title</label>
				<input type="text" class="<%= validationErrors?.fieldErrors?.text ? 'invalid' : null %>" name="title" id="title" value="<% if (editing || hasErrors) { %><%= product.title %><% } %>">
			</div>
			<div class="form-control">
				<label for="imageUrl">Image URL</label>
				<input type="text" class="<%= validationErrors?.fieldErrors?.imageUrl ? 'invalid' : null %>" name="imageUrl"  id="imageUrl" value="<% if (editing || hasErrors) { %><%= product.imageUrl %><% } %>">
			</div>
			<div class="form-control">
				<label for="price">Price</label>
				<input type="number" class="<%= validationErrors?.fieldErrors?.price ? 'invalid' : null %>" name="price" id="price" step="0.01" value="<% if (editing || hasErrors) { %><%= product.price %><% } %>">
			</div>
			<div class="form-control">
				<label for="description">Description</label>
				<textarea name="description"  class="<%= validationErrors?.fieldErrors?.description ? 'invalid' : null %> "id="description" rows="5"><% if (editing || hasErrors) { %><%= product.description %><% } %></textarea>
			</div>

			<% if (editing) { %>
			<input type="hidden" value="<%= product.id %>" name="productId">
			<% } %>

			<button class="btn" type="submit"><% if (editing) { %>Edit Product<% } else { %>Add Product<% } %> </button>
		</form>
	</main>
	<%- include('../includes/end.ejs') %>